.header {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 20px;
}

.image {
  margin: auto;
  width: 50%;
  align-content: center;
  padding: 20px;
}

.description {
  margin: auto;
  width: 50%;
  align-content: center;
}

.description p {
  text-align: center;
  font-size: 15px;
  padding: 20px;
}

.featured-projects {
  padding: 10px;
  margin: 12px;
  background-color: #e6e8ed;
  border: 1px solid black;
}

.aboutme {
  padding: 10px;
  margin: 12px;
  background-color: #e6e8ed;
  border: 1px solid black;
}

.featured-projects h2 {
  text-decoration: underline;
}

.aboutme h2 {
  text-decoration: underline;
}
