.header {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 20px;
}

.image {
  margin: auto;
  width: 50%;
  align-content: center;
  padding: 20px;
}

.description {
  margin: auto;
  width: 50%;
  align-content: center;
}

.description p {
  text-align: center;
  font-size: 15px;
  padding: 20px;
}

.featured-projects {
  padding: 10px;
  margin: 12px;
  background-color: #e0e0eb;
  border: 1px solid black;
}

.background {
  padding: 10px;
  margin: 12px;
  background-color: #d1d1e0;
  border: 1px solid black;
}

.interests {
  padding: 10px;
  margin: 12px;
  background-color: #c2c2d6;
  border: 1px solid black;
}

h2 {
  text-decoration: underline;
}

.featured-projects h3 {
  font-style: italic;
}

.background ul {
  list-style-type: none;
}
