.header {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 12px;
}

.image {
  margin: auto;
  width: 50%;
  align-content: center;
}

.description {
  margin: auto;
  width: 50%;
  align-content: center;
}

.description p {
  text-align: center;
  padding: 30px;
  font-size: 15px;
}
